<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <div class="bmsceimage"></div>
    <h3>Password reset</h3>
    <p>Forgot password?enter Your Email address below.We will send you a instruction for setting a new one. </p>
    <form class="fields" method="post">
       { %csrf_token%}
       {{form}}
    </form>
</body>
</html>