
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration form and Login system</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="bmsceimage"></div>
   <h1 style="color:rgb(228, 252, 8) ;">B.M.S College of Engineering</h1>
      <div class="box">
         <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="Register()">Register</button>
                <button type="button" class="toggle-btn" onclick="Login()">  LogIn  </button>
            </div>
  
               
                 <form id="Register" class="fields">
                    <input type="text" class="ifield" style="color: #fff"placeholder="First Name" required>
                    <input type="text" class="ifield" style="color: #fff"placeholder="Last Name" required>
                    <input type="email" class="ifield" style="color: #fff"placeholder="Email Id" required>
                    <input type="text" class="ifield" placeholder="Password" required>
                    <input type="checkbox" class="jfield"></span><font style="color: #fff">I agree terms & condition</font> </span>
                    <button type="button" class="kfield">Submit</button>
                 </form>
                 <form id="Login" class="fields">
                    <input type="email" class="ifield" style="color: #fff"placeholder="Email Id" required>
                    <input type="text" class="ifield" placeholder="Password" required>
                    <input type="checkbox" class="jfield"></span><font style="color: #fff">Remember me</font> </span>
                    <button type="button" class="kfield">Submit</button>
                 </form>
                </div>
    <script>
        var y = document.getElementById("Login");
        var x = document.getElementById("Register");
        var z = document.getElementById("btn");
    
    function Register(){
     x.style.left = "30px";
     y.style.left = "350px";
     z.style.left = "0";
     
   }function Login(){
     
     x.style.left = "-350px";
     y.style.left = "30px";
     z.style.left = "110px";
   }

</script>
</body>
</html>